/* ---------------- CSS Demo ----------------- */
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* -------- Global Styles ----------*/
  body{
    font-family: 'Times New Roman', Times, serif;
  }
  header .primary{
    background-color: darkmagenta;

  }